<a
  [class.invisible]="isSectionActive()"
  [class.animate-fadeIn]="isSectionActive()"
  class="btn-back-to-top text-amber-600"
  (click)="scrollTo(getByName('Home')!.href)"
>
  <div class="text">
    <span>Back</span>
    <span>to</span>
    <span>top</span>
  </div>
  <div class="clone">
    <span>Back</span>
    <span>to</span>
    <span>top</span>
  </div>
  <svg-icon
    class="absolute top-4 right-0"
    [svgStyle]="{ 'height.px': 20, 'stroke-width': 2.5 }"
    src="assets/icons/icon-arrowup.svg"
  />
</a>
