@let titlesList =
  [
    { text: 'PROYECTOS', anim: 'fade-down-left' },
    { text: 'ULTIMOS PROYECTOS', anim: 'fade-down-left' },
    { text: 'Para Ti, Con Esfuerzo y Dedicación', anim: 'fade-up-left' },
  ];
<section
  class="flex h-full w-full flex-col gap-10.5 overflow-hidden pt-20 md:gap-10 lg:gap-14 xl:gap-24 2xl:px-20"
>
  <!-- 1ra fila -->
  <div
    class="grid gap-6 px-5 md:gap-5 lg:gap-10 xl:grid-cols-2 xl:gap-18"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-easing="ease-in-out-back"
  >
    <!-- 1ra columna (izquierda → UP-LEFT súper lento) -->
    <div
      class="flex w-full flex-col text-3xl xl:items-center"
      data-aos="fade-up-left"
      data-aos-delay="200"
      data-aos-duration="1200"
      data-aos-easing="ease-in-out-back"
    >
      <div class="space-y-1">
        @for (item of titlesList; track item; let i = $index, l = $last)
        {
          <p
            data-aos-duration="1400"
            data-aos-easing="ease-in-out-back"
            data-aos-once="true"
            [attr.data-aos-delay]="0 + i * 300"
            [attr.data-aos]="item.anim"
            [class.text-gray-500]="i > 0"
            [class]="
              l ? 'mt-2 text-sm font-normal italic md:text-base' : 'text-2xl font-bold lg:text-4xl'
            "
          >
            {{ item.text }}
          </p>
        }
      </div>
    </div>
    <!-- Fin 1ra columna -->

    <!-- 2da columna (derecha → UP-RIGHT lento y épico) -->
    <div
      class="flex w-full flex-col"
      data-aos="fade-up-right"
      data-aos-delay="400"
      data-aos-duration="1200"
      data-aos-easing="ease-in-out-back"
    >
      <div class="max-w-130 space-y-6">
        <p
          class="text-sm text-gray-700 md:text-base"
          data-aos="fade-down-right"
          data-aos-delay="700"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out-back"
        >
          Soluciones que nacen de la dedicación y el compromiso con cada detalle — Buscando
          transformar necesidades en logros tangibles, creando valor que perdura en el tiempo y
          resultados que hablan por sí mismos.
        </p>
        <!-- Boton enviar -->
        <button
          class="flex cursor-pointer items-center gap-1 rounded-full border border-transparent text-xl font-semibold text-gray-500 transition-transform duration-200 ease-in-out select-none hover:scale-103 hover:text-black"
          data-aos="zoom-in-up"
          data-aos-delay="1000"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out-back"
          (click)="isShowMore.set(!isShowMore())"
        >
          <svg-icon
            class="text-gray-900"
            [src]="iconAddPath"
            [svgStyle]="{ 'height.px': 23 }"
          ></svg-icon>
          Mostrar {{ isShowMore() ? 'Menos' : 'Más' }}
        </button>
        <!-- Fin Boton enviar -->
      </div>
    </div>
    <!-- 2da columna -->
  </div>
  <!-- Fin 1ra fila -->

  <!-- 2da fila (cards en cascada, cada una desde una dirección distinta) -->
  <div class="mb-7 grid w-full gap-6 px-3 lg:grid-cols-2 lg:gap-10.5 xl:grid-cols-3 2xl:px-23">
    @for (
      project of projectsOrderedByDate.slice(0, isShowMore() ? projectsOrderedByDate.length : 4);
      let i = $index;
      track project
    )
    {
      <app-project-card
        data-aos-duration="1200"
        data-aos-easing="ease-in-out-back"
        [attr.data-aos-delay]="200 + i * 300"
        [attr.data-aos]="
          i % 4 === 0
            ? 'fade-up-left'
            : i % 4 === 1
              ? 'fade-down-left'
              : i % 4 === 2
                ? 'fade-up-right'
                : 'fade-down-right'
        "
        [class]="!isShowMore() && i === 3 ? 'xl:hidden' : ''"
        [project]="project"
      ></app-project-card>
    }
  </div>
  <!-- Fin 2da fila -->
</section>
