<div
  class="flex h-full w-full flex-col bg-gradient-to-br from-[rgba(75,30,133,1)] to-[rgba(75,30,133,0.01)] text-white backdrop-blur-[12px] hover:outline-3 hover:outline-[rgba(75,30,133,0.5)]"
>
  <!-- Imagen -->
  <img
    [src]="project().image"
    alt="{{ project().title }}"
    class="h-129 w-full overflow-clip object-cover"
  />

  <div class="flex flex-grow flex-col px-6 pt-8 pb-16">
    <span>Construcción de casa</span>
    <!-- Titutlo -->
    <h2 class="my-2 h-full text-2xl font-semibold">{{ project().title }}</h2>

    <!-- Fecha -->
    <span class="mt-auto mb-6 font-medium text-gray-400">
      {{ project().date }}
    </span>

    <!-- Descripción -->
    <p class="text-gray-200">
      {{ project().description | slice: 0 : 80 }}
      {{ project().description.length > 80 ? '...' : '' }}
    </p>
  </div>
</div>
