<a class="group card h-200 bg-slate-900 text-white">
  <div class="flex h-42 overflow-hidden rounded-2xl">
    <!-- Imagen -->
    <img
      class="h-full w-full overflow-clip object-cover transition duration-100 sm:group-hover:scale-[120%]"
      [src]="project().image"
      alt="{{ project().title }}"
    />
  </div>

  <div class="px-6 pt-8 pb-16">
    <h1 class="relative mb-2 ml-1 text-xl font-bold">{{ project().title }}</h1>
    <span class="badge badge-error mb-2 rounded-lg text-white">{{ project().date }}</span>
    <h2 class="relative text-base">
      {{ project().description | slice: 0 : 80 }}
      {{ project().description.length > 80 ? '...' : '' }}
    </h2>
    <span class="badge badge-neutral mt-4 bg-slate-500 text-white"
      >Construcción de casa</span
    >
  </div>
</a>
