<div class="h-100 w-full overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl">
  <div class="absolute inset-0.5 z-[1] h-full w-full rounded-xl bg-[#323132] opacity-90">
    <div class="card-body px-8 pt-14 pb-24">
      <div class="mb-6 h-10 w-10 items-center rounded-full bg-black">
        <i></i>
      </div>
      <h3 class="card-title text-2xl text-white">
        Construcción <br />
        de viviendas
      </h3>
      <p class="text-white">
        Construimos con los mejores profesionales y trabajos de alta calidad para un hogar seguro y
        eficaz.
      </p>
    </div>
  </div>
  <div class="absolute -top-1/2 -left-1/2 h-48 w-56 bg-white blur-[50px]"></div>
</div>
