<article class="swiper-slide mr-6 w-87 border-3 bg-white px-8 pt-14 pb-24 hover:border-orange-400">
  <div class="mb-6 grid h-17.5 w-17.5 items-center rounded-full bg-black text-4xl">
    <i class="ri-building-line"></i>
  </div>
  <h3 class="mb-2 text-2xl font-semibold text-black">
    Construcción <br />
    de viviendas
  </h3>

  <p class="text-gray-500">
    Construimos con los mejores profesionales y trabajos de alta calidad para un hogar seguro y
    eficaz.
  </p>
</article>
<!-- From Uiverse.io by 05akalan57 -->
<div class="relative h-64 w-48 overflow-hidden rounded-xl bg-[#3d3c3d] drop-shadow-xl">
  <div
    class="absolute inset-0.5 z-[1] flex items-center justify-center rounded-xl bg-[#323132] text-white opacity-90"
  >
    CARD
  </div>
  <div class="absolute -top-1/2 -left-1/2 h-48 w-56 bg-white blur-[50px]"></div>
</div>
