<div
  class="flex h-full flex-[1_0_0%] flex-col overflow-hidden rounded-sm border-2 border-transparent bg-white hover:border-amber-600 dark:bg-neutral-800"
>
  <img
    class="h-[500px] w-full overflow-clip object-cover"
    [src]="project().image"
    alt="{{ project().title }}"
  />
  <div class="flex flex-1 flex-col justify-between p-4 md:p-5">
    <div>
      <p class="mt-1 text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
        {{ project().subtitle }}
      </p>
      <h3 class="text-lg font-bold text-gray-800 dark:text-white">
        {{ project().title }}
      </h3>
    </div>
    <p class="mt-2 text-gray-500 dark:text-neutral-400">
      {{ project().description  }}
    </p>
  </div>

  <div class="border-t border-gray-200 p-4 sm:px-5 dark:border-neutral-700">
    <p class="text-xs text-gray-500 dark:text-neutral-500">Subido en {{ project().date }}</p>
  </div>
</div>
