<a [routerLink]="['/project', project().id]">
  <article
    class="shadow-white-neumorphic-flat flex h-full flex-col justify-between gap-3 rounded-xl border border-gray-200 p-3 text-gray-500 transition-transform duration-200 ease-in-out hover:scale-103 md:gap-4 md:rounded-3xl md:p-4 lg:gap-3"
  >
    <div class="flex items-center gap-3 lg:grid lg:grid-cols-1 lg:gap-0">
      <img
        class="h-27.5 min-h-27.5 min-w-31 overflow-clip rounded-lg object-cover object-center md:h-50 md:w-140 md:rounded-xl lg:h-85 lg:w-full xl:h-65"
        [src]="project().imgList[0]"
        alt="Imagen del proyecto {{ project().title }}"
      />

      <div class="flex flex-col gap-4 md:gap-3">
        <span
          class="h-fit w-fit rounded-full text-xs text-gray-500 md:mx-1 md:bg-gray-100 md:px-3 md:py-1.5 md:text-sm lg:mt-6"
        >
          {{ project().etiqueta | titlecase }}
        </span>

        <h2 class="h-fit w-fit text-sm font-medium text-black md:px-2 md:text-xl">
          {{ project().title | titlecase }}
        </h2>

        <p class="hidden h-fit w-fit text-xs md:block md:px-2 md:text-base lg:hidden">
          {{ project().description | slice: 0 : 150 }}
          {{ project().description.length > 150 ? '...' : '' }}
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-4 md:px-2">
      <p class="hidden h-fit w-fit text-xs md:text-base lg:block">
        {{ project().description | slice: 0 : 150 }}
        {{ project().description.length > 150 ? '...' : '' }}
      </p>

      <hr class="border-gray-200 md:mx-1 md:my-2" />

      <footer class="flex justify-between text-xs md:mb-3 md:text-sm">
        <div class="flex gap-1 md:items-center md:gap-2 lg:flex-col lg:items-start">
          <span class="text-xs">By</span>
          <span class="text-black md:font-medium md:text-gray-500">Ramsua Services</span>
        </div>
        <div class="flex gap-1 md:items-center md:gap-2 lg:flex-col lg:items-end">
          <span class="text-xs">Publicado el</span>
          <time class="text-black md:font-medium md:text-gray-500">{{ project().date }}</time>
        </div>
      </footer>
    </div>
  </article>
</a>
