<a [routerLink]="['/project', project().id]">
  <div
    class="shadow-white-neumorphic-flat flex h-full flex-col justify-between rounded-3xl border-1 border-gray-200 p-4 text-gray-500 transition-transform duration-200 ease-in-out hover:scale-103 md:gap-4 lg:gap-3"
  >
    <div class="grid md:grid-cols-4 md:gap-3 lg:grid-cols-1 lg:gap-0">
      <img
        class="col-span-1 w-full overflow-clip rounded-xl object-cover object-center md:h-36 lg:h-63"
        [src]="project().imgList[0]"
        alt="Imagen"
      />

      <div class="col-span-3 space-y-3 px-2">
        <div
          class="h-fit w-fit rounded-full text-xs text-gray-500 lg:mt-6 lg:bg-gray-100 lg:px-3 lg:py-1.5"
        >
          {{ project().etiqueta }}
        </div>
        <div class="h-fit w-fit text-xl font-medium text-black">
          {{ project().title }}
        </div>
      </div>
    </div>

    <div class="flex flex-col space-y-4 px-2">
      <p class="h-fit w-fit">
        {{ project().description | slice: 0 : 150 }}
        {{ project().description.length > 150 ? '...' : '' }}
      </p>

      <hr class="border-transparent md:hidden" />
      <hr class="border-gray-200 lg:mx-2" />

      <div class="flex justify-between lg:mb-3 lg:px-2">
        <div class="md:flex md:items-center md:gap-2 lg:flex-col lg:items-start">
          <h5 class="text-xs">By</h5>
          <h4 class="text-sm font-medium">Ramsua Services</h4>
        </div>
        <div class="md:flex md:items-center md:gap-2 lg:flex-col lg:items-end">
          <h5 class="text-xs">Publicado el</h5>
          <h4 class="text-sm font-medium">{{ project().date }}</h4>
        </div>
      </div>
    </div>
  </div>
</a>
