<a
  class="btn-back-to-top font-montserrat-alternates right-0 bottom-0 h-5 w-18 font-bold select-none md:right-3 md:bottom-1 md:h-8 md:w-34"
  [class.text-white]="isOnFooter()"
  (scroll)="onScroll()"
  data-aos="zoom-in-down"
  fragment="home"
  [routerLink]="['/']"
  data-aos-duration="700"
  data-aos-delay="0"
  data-aos-once="false"
  data-aos-easing="ease-in-out-back"
>
  <div class="text absolute flex h-full w-full gap-1 text-xs md:ml-6 md:text-sm">
    <span class="inline md:hidden">Go</span>
    <span class="hidden md:inline">Back</span>
    <span class="hidden md:inline">to</span>
    <span>Top</span>
  </div>
  <div class="clone absolute flex h-full w-full gap-1 text-xs md:ml-2 md:text-sm">
    <span class="inline md:hidden">GO</span>
    <span class="hidden md:inline">BACK</span>
    <span class="hidden md:inline">TO</span>
    <span>TOP</span>
  </div>
  <svg-icon
    class="absolute top-2 right-0 md:top-[11px]"
    src="assets/icons/shared/icon-arrowup.svg"
    [svgStyle]="{ 'height.px': 22 }"
  />
</a>
