<a
  class="btn-back-to-top font-montserrat-alternates select-none"
  [class.text-white]="isOnFooter()"
  (scroll)="onScroll()"
  data-aos="zoom-in-down"
  fragment="home"
  [routerLink]="['/']"
  data-aos-duration="700"
  data-aos-delay="0"
  data-aos-once="false"
  data-aos-easing="ease-in-out-back"
>
  <div class="text gap-1 md:ml-8 md:text-sm 2xl:ml-8">
    <span>Back</span>
    <span>to</span>
    <span>top</span>
  </div>
  <div class="clone gap-1 md:ml-3 md:text-sm 2xl:ml-0 2xl:text-base">
    <span>BACK</span>
    <span>TO</span>
    <span>TOP</span>
  </div>
  <svg-icon
    class="absolute right-0 md:top-3"
    src="assets/icons/shared/icon-arrowup.svg"
    [svgStyle]="{ 'height.px': 22 }"
  />
</a>
