.btn-back-to-top {
  position: fixed;
  z-index: 50;
  overflow: hidden;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-back-to-top:before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.btn-back-to-top:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-back-to-top .clone > *,
.btn-back-to-top .text > * {
  opacity: 1;
  transition: 0.2s;
}

.btn-back-to-top .clone > * {
  transform: translateY(60px);
}

.btn-back-to-top:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-back-to-top:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* icon style and hover */
.btn-back-to-top svg {
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.btn-back-to-top:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
