<section class="mb-25 flex h-full w-full flex-col overflow-hidden">
  <!-- 1ra fila -->
  <div class="mb-10 text-center">
    <h2
      class="mb-4 font-bold uppercase md:text-3xl"
      data-aos="slide-right"
      data-aos-delay="0"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      data-aos-once="true"
    >
      About us
    </h2>
    <h3
      class="text-gray-500 italic md:text-sm lg:text-base"
      data-aos="slide-left"
      data-aos-delay="500"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
    >
      Más de 20 años levantando hogares, espacios y sueños, siempre con dedicación y compromiso.
    </h3>
  </div>
  <!-- Fin 1ra fila -->

  <!-- 2da fila -->
  <div
    class="relative flex h-full w-full justify-center"
    data-aos="zoom-in-down"
    data-aos-delay="800"
  >
    <!-- Columna timeline -->
    <div
      class="flex h-full w-0.5 flex-col items-center justify-between bg-gray-200 md:gap-6 2xl:gap-20"
    >
      @for (timeRange of timeRanges; track timeRange; let e = $even, last = $last, i = $index)
      {
        <!-- Caja Item -->
        <app-timeline-item [timeRange]="timeRange" [isRight]="e" [isLast]="last" [index]="i" />
        <!-- Fin caja item -->
      }
    </div>
    <!-- Fin columna timeline -->
  </div>
  <!-- Fin 2da fila -->
</section>
