<section class="about section h-screen">
  <div class="about__container container grid">
    <div
      class="about__data"
      data-sr-id="8"
      style="
        visibility: visible;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition:
          all,
          opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s,
          transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s;
      "
    >
      <span class="section__subtitle">Sobre Nosotros</span>
      <h2 class="section__title">
        Brindamos el mejor <br />
        servicio para construir
      </h2>

      <p class="about__description">
        Nos esforzamos por brindar los mejores profesionales para hacer de sus proyectos una obra
        maestra de construcción, algo único e inigualable.
      </p>

      <ul class="about__list grid">
        <li class="about__list-item">
          <i class="ri-checkbox-circle-line"></i>
          <span>Trabajadores profesionales</span>
        </li>

        <li class="about__list-item">
          <i class="ri-checkbox-circle-line"></i>
          <span>Calidad garantizada</span>
        </li>

        <li class="about__list-item">
          <i class="ri-checkbox-circle-line"></i>
          <span>Amplia experiencia</span>
        </li>

        <li class="about__list-item">
          <i class="ri-checkbox-circle-line"></i>
          <span>Visitamos tu proyecto</span>
        </li>
      </ul>

      <a href="#projects" class="button">Ver proyectos</a>
    </div>

    <div
      class="about__images"
      data-sr-id="6"
      style="
        visibility: visible;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition:
          all,
          opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s,
          transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s;
      "
    >
      <img src="images/obrero01.jpg" alt="image" class="about__img-1" />
      <img src="images/elementos.jpg" alt="image" class="about__img-2" />
    </div>
  </div>
</section>
