<div class="navbar bg-zinc-950 px-60 text-white shadow-sm">
  <!-- Logo -->
  <div class="navbar-start">
    <a [routerLink]="['/']" class="link link-hover font-montserrat-alternates text-xl">
      Ramsua
      <span class="text-info">| Services</span>
    </a>
  </div>
  <div class="navbar-end gap-8">
    <ul class="menu menu-horizontal gap-5 px-1">
      <li>
        <a
          [routerLink]="['/home']"
          routerLinkActive="text-success"
          class="link link-hover text-base"
        >
          Home
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/about-us']"
          routerLinkActive="text-success"
          class="link link-hover text-base"
        >
          About Us
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/services']"
          routerLinkActive="text-success"
          class="link link-hover text-base"
        >
          Services
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/projects']"
          routerLinkActive="text-success"
          class="link link-hover text-base"
        >
          Projects
        </a>
      </li>
    </ul>
    <a class="btn btn-success" [href]="hrefWhatsapp" target="_blank">
      Contact Us
      <svg-icon [src]="logoWhatsappSvg" [svgStyle]="logoWhatsappSvgStyles" />
    </a>
  </div>
</div>
