<form
  class="flex flex-col md:gap-9 lg:gap-13"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <!-- Inputs -->
  <div class="grid gap-x-4 md:gap-y-6 lg:gap-y-9">
    @for (inputFieldData of inputFieldsData; track inputFieldData; let i = $index)
    {
      <app-form-input
        data-aos-duration="1500"
        data-aos-easing="ease-in-out-back"
        [attr.data-aos-delay]="i * 200"
        [attr.data-aos]="i < 2 ? 'fade-down-right' : 'fade-up-left'"
        [class]="i > 1 ? 'lg:col-span-2' : ''"
        [fieldError]="formUtils.getFieldError(myForm, inputFieldData.id)"
        [formControlName]="inputFieldData.id"
        [iconPath]="inputFieldData.iconPath"
        [id]="inputFieldData.id"
        [isValidField]="formUtils.isValidField(myForm, inputFieldData.id)"
        [placeholder]="inputFieldData.placeholder"
        [type]="inputFieldData.type"
      >
      </app-form-input>
    }
  </div>
  <!-- Fin inputs -->

  <div
    class="flex justify-between"
    data-aos="fade-up-right"
    data-aos-delay="700"
    data-aos-duration="1500"
    data-aos-easing="ease-in-out-back"
  >
    <!-- Botón enviar -->
    @if (myForm.valid && captchaToken() !== null)
    {
      <button
        class="flex items-center gap-2 rounded-full border border-transparent bg-cyan-600 px-6 py-3 text-sm font-medium text-white transition-transform duration-200 ease-in-out select-none hover:scale-105 hover:bg-cyan-700 md:text-base"
        data-aos="fade-up-right"
        data-aos-duration="1200"
        data-aos-easing="ease-in-out-back"
        [disabled]="isPosting()"
        type="submit"
      >
        Enviar
        <svg-icon [src]="iconPlanePath" [svgStyle]="{ 'height.px': 14 }"></svg-icon>
      </button>
    }

    <!-- Fin Botón enviar -->

    <!-- reCAPTCHA -->
    <re-captcha
      class="flex"
      [siteKey]="siteKey"
      (resolved)="this.captchaToken.set($event)"
    ></re-captcha>
    <!-- Fin reCAPTCHA -->
  </div>
</form>
