<footer
  class="w-full cursor-default overflow-hidden bg-gradient-to-b from-neutral-900 via-neutral-950 to-black py-20 text-gray-400 select-none"
>
  <div class="container mx-auto md:px-4 lg:px-7">
    <!-- 1ra fila -->
    <div class="flex w-full justify-between">
      <!-- 1ra columna -->
      <a
        class="flex h-fit cursor-pointer items-center gap-2 text-gray-100 transition-transform duration-200 ease-in-out hover:scale-105"
        data-aos="zoom-out-right"
        data-aos-duration="700"
        data-aos-once="false"
        href="https://github.com/MXTR327"
        target="_blank"
      >
        <svg-icon [src]="iconMaxPath" [svgStyle]="iconMaxStyle"> </svg-icon>
        <p class="font-montserrat-alternates font-semibold">
          MAXtr <br />
          SERVICES
        </p>
      </a>

      <!-- 2da Columna -->
      <div
        class="flex flex-col gap-3"
        data-aos="zoom-out-right"
        data-aos-delay="200"
        data-aos-duration="800"
        data-aos-once="false"
      >
        <h4 class="font-semibold text-gray-100">Información</h4>
        <div>
          <p>{{ place }}</p>
          <p class="mb-1">{{ street }}</p>
          <p>+51 {{ phone }}</p>
        </div>
      </div>

      <!-- 3ra Columna -->
      <div
        class="flex flex-col gap-3"
        data-aos="zoom-out-left"
        data-aos-delay="400"
        data-aos-duration="800"
        data-aos-once="false"
      >
        <h4 class="font-semibold text-gray-100">Compañia</h4>
        <div class="flex flex-col gap-2">
          @for (linP of pagesList; track linP.name)
          {
            <a
              class="cursor-pointer hover:text-gray-200"
              data-aos="zoom-out-up"
              data-aos-duration="700"
              [fragment]="linP.id"
              [routerLink]="['/']"
            >
              {{ linP.name }}
            </a>
          }
        </div>
      </div>

      <!-- 4ta Columna -->
      <div
        class="flex flex-col items-center gap-2"
        data-aos="zoom-out-left"
        data-aos-delay="600"
        data-aos-once="false"
      >
        <h4 class="font-semibold text-gray-100">Redes Sociales</h4>
        <app-redes-contacto> </app-redes-contacto>
      </div>
    </div>
    <!-- Fin 1ra fila -->

    <!-- 2da fila -->
    <div
      class="mt-5 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
      data-aos="fade-up-right"
      data-aos-delay="1300"
      data-aos-duration="800"
      data-aos-once="true"
    >
      <div class="flex flex-wrap items-center justify-between gap-2">
        <p class="text-sm">© {{ year }} - Todos los derechos reservados a Ramsua-services.</p>
      </div>
    </div>
    <!-- Fin 2da fila -->
  </div>
</footer>
