<header
  class="fixed inset-x-0 top-2 z-50 flex w-full flex-wrap select-none before:absolute before:inset-0 before:mx-2 before:max-w-5xl before:rounded-[26px] before:bg-neutral-800/40 before:backdrop-blur-md md:flex-nowrap md:justify-start lg:before:mx-auto"
  data-aos="zoom-in-down"
  data-aos-delay="0"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out-back"
  data-aos-once="true"
>
  <nav
    class="relative mx-2 flex w-full max-w-5xl basis-full flex-wrap items-center justify-between py-2 ps-5 pe-2 md:flex-nowrap md:py-0 lg:mx-auto"
  >
    <!-- 1ra columna -->
    <div
      class="flex items-center"
      data-aos="flip-left"
      data-aos-delay="800"
      data-aos-duration="800"
      data-aos-once="true"
    >
      <!-- Logo -->
      <a
        class="inline-block flex-none cursor-pointer rounded-md text-xl font-semibold focus:opacity-80 focus:outline-hidden"
        role="button"
        tabindex="0"
        (click)="goToAnchorById('home')"
        (keydown.enter)="goToAnchorById('home')"
        (keydown.space)="goToAnchorById('home')"
      >
        <span class="text-white"> Ramsua </span>
        <span class="text-[#ff0]">| Services</span>
      </a>
      <!-- End Logo -->
    </div>
    <!-- Fin 1ra columna -->

    <!-- 3ra columna -->
    <div class="flex items-center gap-x-3 md:order-3">
      <!-- Boton Contacto -->
      <div
        class="md:ps-3"
        data-aos="flip-up"
        data-aos-delay="1800"
        data-aos-duration="300"
        data-aos-once="true"
      >
        <a
          class="flex cursor-pointer items-center gap-x-2 rounded-full bg-green-300 px-3 py-2 text-sm font-medium text-nowrap text-black focus:outline-hidden"
          [class.bg-green-400]="activeSecion() === 'contact'"
          role="button"
          tabindex="0"
          (click)="goToAnchorById('contact')"
          (keydown.enter)="goToAnchorById('contact')"
          (keydown.space)="goToAnchorById('contact')"
        >
          <span> Contact Us </span>
          <svg-icon [src]="icoCallPath" [svgStyle]="icoCallStyle" />
        </a>
      </div>
      <!-- Fin Boton Contacto -->

      <!-- Boton Hamburguesa -->
      <div
        class="md:hidden"
        data-aos="zoom-out-up"
        data-aos-delay="1800"
        data-aos-duration="300"
        data-aos-once="true"
      >
        <button
          class="hs-collapse-toggle flex size-9 items-center justify-center rounded-full bg-neutral-800 text-sm font-semibold text-white disabled:pointer-events-none disabled:opacity-50"
          id="hs-navbar-floating-dark-collapse"
          data-hs-collapse="#hs-navbar-floating-dark"
          type="button"
          aria-controls="hs-navbar-floating-dark"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg-icon
            class="hs-collapse-open:hidden shrink-0"
            [src]="icoHamburberPath"
            [svgStyle]="icoHamburgerStyle"
          />
          <svg-icon
            class="hs-collapse-open:block hidden shrink-0"
            [src]="icoClosePath"
            [svgStyle]="icoCloseStyle"
          />
        </button>
      </div>
      <!-- Fin Boton Hamburguesa -->
    </div>
    <!-- Fin 3ra columna -->

    <!-- 2da columna -->
    <div
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:block"
      id="hs-navbar-floating-dark"
      data-aos="fade-down-big"
      data-aos-delay="400"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out-back"
      data-aos-once="true"
      aria-labelledby="hs-navbar-floating-dark-collapse"
    >
      <div
        class="flex flex-col gap-y-3 py-2 font-semibold md:flex-row md:items-center md:justify-end md:py-0 md:ps-7"
      >
        @for (linP of linksPages; track linP.name; let last = $last; let i = $index)
        {
          @if (!last)
          {
            <a
              class="cursor-pointer ps-px pe-3 text-sm text-[#ff0] hover:text-[#ff0] sm:px-3 md:py-4"
              [class]="activeSecion() !== linP.id ? 'text-white hover:text-neutral-200' : ''"
              data-aos="fade-up-left"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out-back"
              data-aos-once="true"
              role="button"
              tabindex="0"
              (keydown.enter)="goToAnchorById(linP.id)"
              (keydown.space)="goToAnchorById(linP.id)"
              (click)="goToAnchorById(linP.id)"
              [attr.data-aos-delay]="500 + i * 150"
            >
              {{ linP.name }}
            </a>
          }
        }
      </div>
    </div>
    <!-- Fin 2da columna -->
  </nav>
</header>
