<!-- Caja Item -->
<li
  class="flex min-h-20 justify-center md:min-h-40 md:items-center lg:px-8 xl:px-20 2xl:px-52"
  data-aos-duration="1200"
  data-aos-easing="ease-in-out-back"
  [attr.data-aos-delay]="900 + index() * 200"
  [attr.data-aos]="isRight() ? 'fade-up-left' : 'fade-up-right'"
>
  <!-- Imagen -->
  <div
    class="absolute left-0 h-20 w-20 rounded-full bg-gray-200 p-1 md:left-1/2 md:-ml-20 md:h-40 md:w-40 md:p-1.5"
  >
    <img
      class="h-full w-full overflow-clip rounded-full object-cover object-center"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out-back"
      [attr.data-aos-delay]="1300 + index() * 200"
      [attr.data-aos]="isRight() ? 'zoom-in-up' : 'zoom-in-down'"
      [hidden]="isLast()"
      [src]="timeRange().imagePath"
      alt="Imagen"
    />
    <p
      class="flex h-full w-full items-center justify-center rounded-full bg-yellow-500 text-center text-xs font-semibold text-white md:px-10 md:text-base"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out-back"
      [attr.data-aos-delay]="1300 + index() * 200"
      [attr.data-aos]="isRight() ? 'zoom-in-up' : 'zoom-in-down'"
      [hidden]="!isLast()"
    >
      {{ timeRange().description }}
    </p>
  </div>
  <!-- Fin imagen -->

  <!-- Info Timeline -->
  <div
    class="ml-25 flex w-full flex-col items-center md:ml-0"
    [class.invisible]="isLast()"
    [class]="
      isRight() ? 'md:ml-120 lg:ml-145 xl:ml-170' : 'md:mr-120 md:text-right lg:mr-145 xl:mr-170'
    "
  >
    <div class="space-y-2">
      <div class="text-xl font-semibold md:text-2xl">
        <h4
          class="md:text-xl lg:text-2xl"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out-back"
          [attr.data-aos-delay]="1300 + index() * 200"
          [attr.data-aos]="isRight() ? 'flip-up' : 'flip-down'"
        >
          {{ timeRange().yearRange }}
        </h4>
        <h4
          data-aos-duration="1400"
          data-aos-easing="ease-out-back"
          [attr.data-aos-delay]="1300 + index() * 200"
          [attr.data-aos]="isRight() ? 'zoom-in-up' : 'zoom-in-down'"
        >
          {{ timeRange().title }}
        </h4>
      </div>
      <p
        class="text-sm text-gray-500 md:text-base"
        data-aos-duration="1600"
        data-aos-easing="ease-in-out-back"
        [attr.data-aos-delay]="1300 + index() * 200"
        [attr.data-aos]="isRight() ? 'fade-up-left' : 'fade-up-right'"
      >
        {{ timeRange().description }}
      </p>
    </div>
  </div>
  <!-- Fin info timeline -->
</li>
<!-- Fin caja item -->
