.gradient-text {
  background: linear-gradient(to right, #b16cea, #ff8a56, #ffa84b);
  background-clip: text;
  color: transparent;
}

.text-gradient-orange {
  background: linear-gradient(to bottom, #ffb072, #ff8a56, #d9643a);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(1px 1px 0px #e5e5e5);
}

.coin {
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#faa504, #141001);
  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
}

.coin .side,
.coin:before,
.coin:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  backface-visibility: hidden;
}

.coin .tails,
.coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before,
.coin:after {
  background: linear-gradient(#faa504, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}
