@let firstFrase =
  [
    { text: 'CONSTRUYENDO', anim: 'fade-down-right' },
    { text: 'CON', anim: 'fade-up-right' },
    { text: 'HONESTIDAD', anim: 'fade-up-left' },
  ];
@let secondFrase =
  [
    { text: 'LADRILLO', anim: 'fade-up-right' },
    { text: '— A —', anim: 'fade-up' },
    { text: 'LADRILLO', anim: 'fade-up-left' },
  ];
<section
  class="flex h-screen flex-col justify-center gap-7 overflow-hidden px-10 pt-10 md:flex-row md:gap-10 md:px-4 md:pt-0 lg:px-7"
>
  <!-- 1ra columna -->
  <div class="flex flex-col justify-center gap-3 overflow-hidden md:flex-5 md:gap-1">
    <!-- Frase -->
    <div class="flex flex-col font-extrabold">
      <!-- Construyendo confiabilidad -->
      <h1
        class="grid text-center text-3xl md:grid-cols-[auto_auto] md:gap-2 md:text-start md:text-4xl lg:gap-5 lg:text-5xl xl:text-6xl 2xl:text-7xl"
      >
        @for (item of firstFrase; track item.text; let i = $index)
        {
          <span
            class="gradient-text"
            [attr.data-aos]="item.anim"
            [attr.data-aos-delay]="500 + i * 300"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-back"
            [class]="{
              'md:col-span-2': i === 0,
              'md:ml-auto': i === 1,
              'md:ml-3': i === 2,
            }"
          >
            {{ item.text }}
          </span>
        }
      </h1>
      <!-- Fin construyendo confiabilidad -->

      <!-- Ladrillo a ladrillo -->
      <h1
        class="flex flex-col items-center text-center text-2xl font-extrabold tracking-wide md:flex-row md:gap-5 md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl"
      >
        @for (item of secondFrase; track item.text; let i = $index, e = $even)
        {
          <span
            [class]="
              !e ? 'text-gray-400 drop-shadow-[0px_1px_0px_#d1d5db]' : 'text-gradient-orange'
            "
            [attr.data-aos]="item.anim"
            [attr.data-aos-delay]="1200 + i * 300"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-back"
          >
            {{ item.text }}
          </span>
        }
      </h1>
      <!-- Fin ladrillo a ladrillo -->
    </div>
    <!-- Fin frase -->

    <!-- Descripcion -->
    <p
      data-aos="fade-left"
      data-aos-delay="2000"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      class="text-sm text-gray-600 md:mb-3 md:text-base lg:mb-5 lg:text-xl 2xl:mb-8 2xl:text-2xl"
    >
      Soy <span class="font-semibold">Jorge</span>,
      <span class="font-semibold">Maestro Albañil</span> con más de
      <span class="font-semibold">20 años de experiencia</span> trabajando con
      <span class="font-semibold">calidad</span> y <span class="font-semibold">compromiso</span>,
      asegurándonos de que tu <span class="font-semibold">hogar</span> sea un lugar
      <span class="font-semibold">seguro</span> y <span class="font-semibold">digno</span>.
    </p>
    <!-- Fin Descripcion -->

    <!-- Btn contacto -->
    <button
      class="relative inline-flex w-fit overflow-hidden rounded-xl p-[3px] select-none focus:outline-none active:scale-95"
      data-aos="slide-right"
      data-aos-delay="1800"
      data-aos-duration="700"
      data-aos-easing="ease-in-back"
      [routerLink]="['/']"
      fragment="contact"
    >
      <div
        class="absolute inset-[-1000%] z-0 animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#e7029a_0%,#f472b6_50%,#bd5fff_100%)]"
      ></div>
      <span
        class="relative z-10 inline-flex cursor-pointer items-center justify-center gap-2 rounded-xl bg-slate-950 px-6 py-3 font-medium text-white backdrop-blur-3xl md:text-sm lg:text-base"
      >
        Contáctenos
        <svg-icon [svgStyle]="{ 'height.px': 12 }" src="assets/icons/shared/icon-paper-plane.svg">
        </svg-icon>
      </span>
    </button>
    <!-- Fin btn contacto -->
  </div>
  <!-- Fin 1ra columna -->

  <!-- 2da columna -->
  <div
    class="flex items-center justify-center text-[280px] text-white md:flex-3 lg:flex-4 lg:text-[400px] xl:text-[500px] 2xl:text-[600px]"
    data-aos="slide-right"
    data-aos-delay="200"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out-back"
  >
    <div class="coin">
      <svg-icon class="side heads" [src]="iconWorkerPath"> </svg-icon>
      <svg-icon class="side tails" [src]="iconWorkerPath"> </svg-icon>
    </div>
  </div>
  <!-- Fin 2da columna -->
</section>
