<footer
  class="footer footer-horizontal justify-between bg-neutral-900 px-60 py-8 text-white"
>
  <!-- Columna Logo -->
  <nav>
    <p class="footer-title">Web built by</p>
    <!-- Logo Max -->
    <div class="logo-style flex items-center gap-1 rounded-xl">
      <svg-icon [src]="logoMaxSvg" [svgStyle]="logoMaxSvgStyles" />
      <!-- Empresa -->
      <p class="font-montserrat-alternates font-semibold">
        MAXtr <br />
        SERVICES
      </p>
    </div>
  </nav>
  <!-- Columna Servicios -->
  <nav>
    <h6 class="footer-title">Services</h6>
    <a [routerLink]="['/home']" routerLinkActive="text-info" class="link link-hover">
      Home
    </a>
    <a [routerLink]="['/about-us']" routerLinkActive="text-info" class="link link-hover">
      About us
    </a>
    <a [routerLink]="['/services']" routerLinkActive="text-info" class="link link-hover">
      Services
    </a>
    <a [routerLink]="['/projects']" routerLinkActive="text-info" class="link link-hover">
      Projects
    </a>
  </nav>
  <!-- Columna localizanos -->
  <nav>
    <h6 class="footer-title">Locate us</h6>
    <p>
      Perú - Santa María
      <br />
    </p>
  </nav>
  <!-- Columna Redes -->
  <nav>
    <h6 class="footer-title">social networks</h6>
    <!-- Buttons -->
    <div class="grid w-full grid-flow-col place-items-center">
      <!-- Gmail Logo -->
      <a [href]="hrefGmail" target="_blank" class="btn-black-neumorphism rounded-xl">
        <svg-icon [src]="logoGmailSvg" [svgStyle]="logoGmailSvgStyles" />
      </a>
      <!-- Facebook Logo -->
      <a [href]="hrefFb" target="_blank" class="btn-black-neumorphism rounded-xl">
        <svg-icon [src]="logoFbSvg" [svgStyle]="logoFbSvgStyles" />
      </a>
      <!-- WhatsApp Logo -->
      <a [href]="hrefWhatsapp" target="_blank" class="btn-black-neumorphism rounded-xl">
        <svg-icon [src]="logoWhatsappSvg" [svgStyle]="logoWhatsappSvgStyles" />
      </a>
    </div>
  </nav>
</footer>
<!-- Derechos -->
<footer
  class="footer footer-center text-accent-content sm:footer-horizontal bg-zinc-800 p-2"
>
  <p>Copyright © {{ year }} - Todos los derechos reservados a Ramsua-Services</p>
</footer>
