<section class="container mx-auto my-50">
  <div>
    <p class="mb-2 text-base font-semibold text-gray-600">Contáctanos</p>
    <h2 class="text-2xl font-semibold">Escríbanos y construya</h2>
    <div class="grid grid-cols-2 gap-15 py-14">
      <img
        class="h-[500px] w-full overflow-clip object-cover"
        src="/assets/images/escalera.png"
        alt="imagen"
      />
      <div class="grid grid-cols-2 gap-8">
        <div
          class="flex min-h-60 flex-col rounded-xl border border-gray-200 bg-white shadow-2xs dark:border-neutral-700 dark:bg-neutral-900 dark:shadow-neutral-700/70"
        >
          <div class="flex flex-auto flex-col items-center justify-center p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">Card title</h3>
            <p class="mt-2 text-gray-500 dark:text-neutral-400">
              With supporting text below as a natural lead-in to additional content.
            </p>
          </div>
        </div>
        <div
          class="flex min-h-60 flex-col rounded-xl border border-gray-200 bg-white shadow-2xs dark:border-neutral-700 dark:bg-neutral-900 dark:shadow-neutral-700/70"
        >
          <div class="flex flex-auto flex-col items-center justify-center p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">Card title</h3>
            <p class="mt-2 text-gray-500 dark:text-neutral-400">
              With supporting text below as a natural lead-in to additional content.
            </p>
          </div>
        </div>
        <div
          class="flex min-h-60 flex-col rounded-xl border border-gray-200 bg-white shadow-2xs dark:border-neutral-700 dark:bg-neutral-900 dark:shadow-neutral-700/70"
        >
          <div class="flex flex-auto flex-col items-center justify-center p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">Card title</h3>
            <p class="mt-2 text-gray-500 dark:text-neutral-400">
              With supporting text below as a natural lead-in to additional content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
