<section
  class="flex h-screen w-full flex-col overflow-hidden md:gap-5 md:px-4 md:pt-18 lg:gap-15 lg:px-7 2xl:justify-center 2xl:gap-18 2xl:pt-0"
>
  <!-- Titulos 1ra fila -->
  <div class="space-y-4 text-center">
    <h1 class="font-bold uppercase md:text-3xl 2xl:text-5xl">Contáctenos</h1>
    <h2 class="text-gray-500 italic md:text-sm lg:text-base">
      Estamos aquí para responder sus preguntas y brindarle la mejor atención posible.
    </h2>
  </div>
  <!-- Fin titulos 1ra fila -->

  <!-- Contenidos 2da fila -->
  <div class="flex md:gap-7 lg:gap-10 xl:gap-20">
    <!-- Info 1ra col -->
    <div class="w-full md:space-y-9 lg:space-y-15 2xl:space-y-20">
      <!-- 1ra fila -->
      <div class="md:space-y-3 lg:space-y-4 2xl:space-y-7">
        <h1 class="font-semibold md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
          Necesitas ayuda? Contacta yá
        </h1>
        <p class="text-gray-600 md:text-sm lg:text-base">
          Nuestro equipo está listo para ayudar con su banca o necesidades de inversión. Disparar en
          cualquier momento para un apoyo rápido, amable y experto.
        </p>
        <!-- Redes -->
        @for (socialLink of socialLinks; track socialLink)
        {
          <a class="mr-8 inline-flex" [href]="socialLink.href" target="_blank">
            <svg-icon [src]="socialLink.iconPath" [svgStyle]="{ 'height.px': 22 }" />
          </a>
        }
        <!-- Fin redes -->
      </div>
      <!-- Fin 1ra fila -->

      <!-- 2da fila -->
      <div class="md:space-y-4 md:text-sm lg:space-y-7.5 lg:text-base">
        @for (infoPerson of infosPerson; track infoPerson)
        {
          <div class="space-y-2">
            <div class="flex items-center gap-3.5">
              <svg-icon [src]="infoPerson.iconPath" [svgStyle]="{ 'height.px': 20 }" />
              <h1 class="text-gray-600">{{ infoPerson.label }}</h1>
            </div>
            <span class="whitespace-pre-line text-gray-700">{{ infoPerson.text }}</span>
          </div>
        }
      </div>
      <!-- Fin 2da fila -->
    </div>
    <!-- Fin info 1ra col -->

    <!-- Formulario 2da col -->
    <div class="w-full md:pt-2 lg:pt-4 2xl:pt-9">
      <form
        class="flex flex-col md:gap-9 lg:gap-13"
        autocomplete="off"
        [formGroup]="myForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- Inputs -->
        <div class="flex flex-col md:gap-6 lg:gap-9">
          <div class="flex flex-col gap-6 lg:flex-row lg:gap-5">
            @for (inputFieldData of inputFieldsData.slice(0, 2); track inputFieldData)
            {
              <app-form-input
                class="w-full"
                [id]="inputFieldData.id"
                [type]="inputFieldData.type"
                [placeholder]="inputFieldData.placeholder"
                [iconPath]="inputFieldData.iconPath"
                [formControlName]="inputFieldData.id"
                [isValidField]="formUtils.isValidField(myForm, inputFieldData.id)"
                [fieldError]="formUtils.getFieldError(myForm, inputFieldData.id)"
              />
            }
          </div>

          @for (inputFieldData of inputFieldsData.slice(2); track inputFieldData)
          {
            <app-form-input
              [id]="inputFieldData.id"
              [type]="inputFieldData.type"
              [placeholder]="inputFieldData.placeholder"
              [iconPath]="inputFieldData.iconPath"
              [formControlName]="inputFieldData.id"
              [isValidField]="formUtils.isValidField(myForm, inputFieldData.id)"
              [fieldError]="formUtils.getFieldError(myForm, inputFieldData.id)"
            />
          }
        </div>
        <!-- Fin inputs -->

        <!-- Boton enviar -->
        <button
          class="flex w-fit items-center gap-2 rounded-full border border-transparent bg-cyan-600 font-medium text-white hover:bg-cyan-700 md:p-3 md:text-sm lg:p-5 lg:text-base"
          type="submit"
        >
          Enviar
          <svg-icon [src]="iconPlanePath" [svgStyle]="{ 'height.px': 12 }" />
        </button>
        <!-- Fin Boton enviar -->
      </form>
    </div>
    <!-- Fin formulario 2da col -->
  </div>
  <!-- Fin contenido 2da fila -->
</section>
